<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.nicklupien.cardshufflendeal"
	android:versionCode="1"
	android:versionName="1.0" >
	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="15" />
	
	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".SelectGame"></activity>
		<activity android:name=".JoinGame"></activity>
		<activity android:name=".CreateNewGame"></activity>
		<activity android:name=".FinishGame"></activity>
		<activity android:name=".InfoScreen"></activity>
		<activity android:name=".ResumeExistingGame"></activity>
		<activity android:name=".WaitForGameToStart"></activity>
		
		</application>
		
	<uses-permission android:name="android.permission.INTERNET" />
		
	
	
</manifest>